<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hfdy.sky.server.mapper.OrderMapper">
    <select id="getSalesTop10" resultType="com.hfdy.sky.pojo.dto.GoodsSalesDTO">
        select od.name name, sum(od.number) number from order_detail od, orders o
        where od.order_id = o.id
            and o.status = 5
            <if test="begin != null">
                and order_time &gt;= #{begin}
            </if>
            <if test="end != null">
                and order_time &lt;= #{end}
            </if>
           group by name
           order by number desc
           limit 0,10
    </select>

</mapper>